*{
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-image: url(../beranda.png);
    height: 720px;
    width: 1280;
    background-repeat: no-repeat;
}

.navigasi-button {
    display: flex;
    text-decoration: none;
    font-style: none;
    font-size: 20px;
    float: right;
    padding: 24px 0px;
    color: black;
    margin-right: 100px;
    font-weight: bold;
}

.navigasi-button a::hover{
    background-color: #FFB072;
    color: #FFB072;
}

.header{
    width: auto;
    height: 67px;
    background-color: white;
    position: top;
}

.isi{
    display: flex;
    letter-spacing: 5px;   
    margin-left: 371px;
    margin-top: 55px;
    color: white;
}

.paragraf p{
   font-size: 25px;
   margin-top: 10px;
   height: 99px;
   width: 724px;
   text-align: center;
   margin-left: 278px;
   color: white;
}

.kategori-1{
    display: inline-block;
    width: 150px;
    height: 62px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 121px;
}

.kategori-2{
    display: inline-block;
    width: 725px;
    height: 58px;
    border: none;
    font-size: 15px;
}

.kategori-3{
    display: inline-block;
    width: 136px;
    height: 62px;
    background-color: #AF0303;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.text-1{
    display: flex;
    letter-spacing: 5px;   
    margin-left: 371px;
    margin-top: 409px;
    color:black;
}

.gambar-1{
    display: block;
    margin-top: 183px;
    margin-left: 80px;
}

.gambar-12{
    margin-left: 110px;
}

.gambar-13{
    margin-left: 110px;
}
.label-harga1{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 80px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga2{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga3{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 105px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.gambar-2{
    display: block;
    margin-top: 170px;
    margin-left: 80px;
}

.gambar-21{
    margin-left: 110px;
}

.gambar-22{
    margin-left: 110px;
}

.label-harga12{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 80px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga13{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga14{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 105px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.gambar-3{
    display: block;
    margin-top: 170px;
    margin-left: 80px;
}

.label-harga15{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 80px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga16{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.label-harga17{
    display: inline-block;
    padding: 20px 115px ;
    background-color:white;
    border-color: black;
    border-style: solid;
    margin-left: 105px;
    text-align: center;
    text-decoration: none;
    font-style: none;
}

.footer{
    margin-top: 80px;
    width: auto;
    position: bottom;
    height: 300px;
    background-color: #404040;
}

.tulisan-footer1{
    display: inline-block;
    font-size: 43px;
    font-weight: bold;
    color: white;
    margin-top: 133px;
    margin-right: 80px;
}

.logo-footer{
    display: flex;
    float: left;
    margin-top: 131px;
    margin-left: 67px;
}

.gambar-footer{
    display: flex;
    float: right;
    margin-top: 221px;
    margin-right: -243px;
}

.gambar-footer1{
    margin-right: 50px;
}

.gambar-footer2{
    margin-right: 50px;
}

.tulisan-footer2{
    display: inline-block;
    margin-top: 221px;
    margin-left: -61.77px;
    color: white;
    font-weight: bold;
}



.tulisan-footer4{
    display: inline-block;
    margin-top: 277px;
    width: 400px;
    height: 43px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left: -100px;
}

