*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(../img/welcome1.png);
    background-repeat: none;
    background-size: 100%;   
}

.header{
    display: flex;
    justify-content: flex-end;
    width: 87.5%;
    padding: 80px 0px;
}

.container{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.input-text1{
    background-color: #f1d4be;
    color: white;
    font-weight: bold;
    width: 40%;
    height: 50px;
    border-color: white;
}
.input-text2{
    background-color: #f1d4be;
    font-weight: bold;
    color: white;
    width: 40%;
    height: 50px;
    border-color: white
    ;
}

.container2{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 20px;
}

.paragraf{
    display: flex;
    justify-content: flex-end;
    padding: 25px 0px;
    width: 70%;
    color: red;
    font-size: 20px;
}

.paragraf:hover{
    opacity: 50%;
    cursor: pointer;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.login-button1{
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #FFB072;
    height: 50px;
    border-style: none;
    width: 40%;
}

.isi{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    width: 87.5%;
}

.isi2{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    width: 78.5%;
}

.gambar{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    width: 87.5%;
}

.gambar1{
    padding: 0px 20px;
}

.gambar2{
    padding: 0px 20px;
}

.gambar3{
    padding: 0px 20px;
}

@media screen and (max-width: 768px){
    .container
    {width: 90%;}
    .container2{
        width: 90%;
    }
    .input-text1{
        width: 80%;
    }
    .input-text2{
        width: 80%;
    }
    .login-button1{
        width: 80%;
    }
}