*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/beranda.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navigasi{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.navigasi ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: bold;
}

.navigasi ul a{
    text-decoration: none;
    color: black;
    
}

.isi-1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
}

.isi2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.kategori{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
    padding: 0px 20px;
}

.kategori-1{
    width: 10%;
    text-align: center;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(236, 236, 236);
}

.kategori-2{
    border-style: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(236, 236, 236);
    width: 50%;
}

.kategori-3{
    border-radius: 5px;
    margin-left: 10px;
    width: 10%;
    background-color: red;
    border-style: none;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}

.isi{
    font-size: 30px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    margin-top: 400px;
}

.thumb{
    display: flex;
    justify-content: center;
}

.gambar{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.gambar1{
    margin-top: 150px;
}

footer{
    position: bottom;
    margin-top: 50px;
    padding: 20px 50px;
    background-color: #404040;
}

.font-footer{
    color: white;
}

.font-footer2{
    color: white;
    display: flex;
    margin-top: -50px;
    width: 40%;
}

.logo-sosmed{
    display: flex;
    justify-content: flex-end;
}

.gambar-footer{
    margin-left: 30px; 
    margin-right: 30px;  
}

.tulisan{
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footer-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.tulisan-footer2{
    display: flex;
    margin-top: 50px;
}

.tulisan-footer1{
    display: flex;
    margin-right: 50px;
}

.detail{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.gambar-detail{
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
}
.detail-text{
    margin-top: 100px;
    text-align: justify;
    display: inline-block;
    background-color: white;
    width: 700px;
    height: 400px;
}

.data{
    padding: 15px 30px;
}

.input-button{
    width: 150px;
    height: 50px;
    border-style: none;
    background-color: #FFB072;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 500px;
}
.input-button-pesan{
    width: 150px;
    height: 50px;
    border-style: none;
    background-color: #FFB072;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 500px;
}

.input-button-tiket{
    width: 100px;
    height: 50px;
    border-style: none;
    background-color: #FFB072;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}


.data-input{
    display: flex;
    padding: 10px 0px;
    width: 90%;
    margin-left: 30px;
}

.selamat{
    display: flex;
    justify-content: center;
}

.tiket{
    display: flex;
    background-color: white;
    width: 300px;
    margin-top: 50px;
    height: 450px;
}

.detail-text-1{
    font-size: 20px;
    text-align: left;
    padding: 20px 20px;
    font-weight: bold;
}

.judul{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}

.isi-tiket{
    padding: 20px 0px;
}

.info-text{
    font-size: 30px;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 75px 50px;
}

.mb_10{
    padding: 10px 0px;
}

.info-tiket{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

.gambar-tiket{
    margin-left: 50px;
    padding: 50px 0px;
}

.judul_mb30{
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.form_control_pencarian{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
}

.button2{
    margin-left: 20px;
    width: 150px;
    height: 54px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}


.help_pencarian{
    display: flex;
    justify-content: center;
}

.container-help{
    padding: 170px 0px;
}
@media screen and (max-width: 768px){
    .navigasi ul 
    {width: 100%;
    font-size: 20px;
    padding: 15px 15px;
    }
    .isi-1{
        font-size: 30px;
        width: 100%;

    }
    .isi2{
        font-size: 20px;
        width: 100%;
    }

    .kategori-3{
        font-size: 10px;
    }

    .isi{
        margin-top: 50px;
    }

    .thumb{
        display: inline-block;
        width: 50%;
        height: 50%;
        padding: 20px 0px;
    }

    .gambar1{
        padding: 20px 0px;
        margin-left: 50px;
        margin-right: 50px;
    }

    footer{
        width: 100%;
        font-size: 50%;
    }

    .tulisan{
        width: 100%;
        height: 100%;
    }

    .gambar-detail{
        width: 50%;
        height: 50px;

    }
    .detail{
        font-size: 50%;
    }

}




