*{
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-image: url(../img/beranda.png);
    height: fit-content;
    width: 1280;
    background-repeat: no-repeat;
}

.navigasi-button {
    display: flex;
    text-decoration: none;
    font-style: none;
    font-size: 20px;
    float: right;
    padding: 24px 0px;
    color: black;
    margin-right: 100px;
    font-weight: bold;
}

header{
    width: auto;
    height: 67px;
    background-color: white;
    position: top;
}

.gambar{
    display: flex;
    margin-top: 60px;
    margin-left: 67px;
}

.kotak-putih{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
    width: 700px;
    box-sizing: border-box;
    margin-left: 550px;
    margin-top: -467px;
    position: absolute;
}

.kotak-putih h3{
    display: flex;
    margin-top: 20px;
}

.kotak-putih input{
    display: flex;
    margin-top: 20px;
}

.logo-footer{
    display: flex;
    float: left;
    margin-top: 133px;
    margin-left: 67px;
}
.tulisan-footer3{
    display: flex;
    color: white;
}

.tulisan-footer4{
    display: inline-block;
    margin-top: 277px;
    width: 400px;
    height: 43px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left: -105px;
}

.footer{
    margin-top: 100px;
    width: auto;
    position: bottom;
    height: 300px;
    background-color: #404040;
}
.tulisan-footer2{
    display: inline-block;
    margin-top: 221px;
    margin-left: -61.77px;
    color: white;
    font-weight: bold;
}

.input-button{
    display: inline-block;
    color: white;
    background-color: #FF994A;
    width: 144px;
    height: 44px;
    text-align: center;
    text-decoration: none;
    justify-content: flex-start;
    float: right;
    font-size: 26px;
    margin-top: 70px;
    margin-left: 300px;
    border: none;
}

.tulisan-footer1{
    display: inline-block;
    font-size: 43px;
    font-weight: bold;
    color: white;
    margin-top: 133px;
    margin-right: 80px;
}
.gambar-footer{
    display: flex;
    float: right;
    margin-top: 221px;
    margin-right: -243px;
}

.gambar-footer1{
    margin-right: 50px;
}

.gambar-footer2{
    margin-right: 50px;
}