
*{
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-image: url(../img/beranda.png);
    height: fit-content;
    width: 1280;
    background-repeat: no-repeat;
}

.navigasi-button {
    display: flex;
    text-decoration: none;
    font-style: none;
    font-size: 20px;
    float: right;
    padding: 24px 0px;
    color: black;
    margin-right: 100px;
    font-weight: bold;
}

header{
    width: auto;
    height: 67px;
    background-color: white;
    position: top;
}

.kotak{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 467px;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 70px;
    margin-left: 407px;
    
}

.kotak h3{
    padding: 20px 0px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer{
    margin-top: 80px;
    width: auto;
    position: bottom;
    height: 300px;
    background-color: #404040;
}

.tulisan-footer1{
    display: inline-block;
    font-size: 43px;
    font-weight: bold;
    color: white;
    margin-top: 133px;
    margin-right: 80px;
}

.logo-footer{
    display: flex;
    float: left;
    margin-top: 131px;
    margin-left: 67px;
}

.gambar-footer{
    display: flex;
    float: right;
    margin-top: 221px;
    margin-right: -243px;
}

.gambar-footer1{
    margin-right: 50px;
}

.gambar-footer2{
    margin-right: 50px;
}

.tulisan-footer2{
    display: inline-block;
    margin-top: 221px;
    margin-left: -61.77px;
    color: white;
    font-weight: bold;
}



.tulisan-footer4{
    display: inline-block;
    margin-top: 277px;
    width: 400px;
    height: 43px;
    color: white;
    text-align: left;
    font-weight: bold;
    margin-left: -100px;
}